:root{ 
  --bg-color:  #ffffff;
  --text-color: #0496ff;
  --main-color: #31cb00;
  --lowWhite-color: #bbf3c7;
  --footer-color: #24262b;;
}
body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
  }
  .container {
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    max-width: 400px;
    width: 100%; /* Set container width to 100% */
  }
  
  h1 {
    text-align: center;
    color: var(--text-color);
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
    width: 90%;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: var(--main-color);
    border: none;
    color: var(--bg-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: var(--main-color);
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  