body{
    background-color: #ffffff;
}
.cont {
    margin: 8% 15% 15% 15%;
    border: 1px solid;
}

.header {
    border-bottom: 1px solid;
    padding: 1%;
}

.label {
    padding: 1% 2% 0 0;
}
.btnn{
    margin-right: 2%;
    margin-bottom: 4%;
    background-color: #0496ff;
}
.txt{
    width: 90%;
    margin-right: 2%;
}
.r{
    margin-right: 2%;
}

.padd{
    margin-top: 1%;
}
.last{
    margin-bottom: 1%;
}
